<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="css/style.css" media="all" rel="stylesheet" />
  </head>
  <body class="{{#if aside}}has-aside{{/if}}" >
    {{> header }}
    <div class="container">
      {{{ body }}}
    </div>
    {{#if aside}}
      <aside>
        {{> aside }}
      </aside>
    {{/if}}
  </body>
</html>
